[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
plotly = "*"
click = "==8.0.4"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
dev = "streamlit run app_st.py"
